.left-outer-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 5px solid white; */
}

.left-inner-div {
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-top-block {
    color: white;
    height: 10%;
    /* background-color: black; */
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-top-block-logo-text {
    font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    width: 2rem;
}

.left-top-block-logo-text {
    font-size: 2rem;
    margin-left: 1rem;
}


.left-top-menu-container {
position: relative;
    display: inline-block;
}

.left-top-menu-container span i {
    font-size: 1.8rem;
    cursor: pointer;
}

.left-top-menu-container-menu-list {
    position: absolute;
    color: white;
    width: 9rem;
    height: 8rem;
    top: 100%;
    right: 25% ;
    display: none;
    z-index: 100000;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: black;
    
}

.left-top-menu-container-menu-list p {
    cursor: pointer;
    font-size: 1.3rem;
}

.menu-list-hrline{
    width: 90%;
}

.left-top-menu-container:hover .left-top-menu-container-menu-list {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.serch-box-div {
    height: 10%;
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
}

.src-all-contacts {
    width: 10%;
    height: 99%;
     display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
}
.src-all-contacts i {

    font-size: 2rem;
    color : white;    
}

.searchbox {
    width: 90%;
    height: 99%;
    padding: 1rem;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.searchbox-input {
    width: 90%;
    height: 80%;
    border-radius: 2rem;
    border: 2px solid white;
    background: transparent;
    padding: 1rem;
    color: white;
    font-size: 1.3rem;
}

.searchbox-input::placeholder {
    color: white;
}

.left-user-div{
    width: 100%;
    height: 78%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-chat {
    width: 98%;
    height: 98%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 1.5rem;
}

.left-chat-user {
    color: white;
    width: 90%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    gap: 1rem;
     font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.left-chat-user-avatar{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-chat-user-avatar-img {
    aspect-ratio: 1/1;
    width: 3.5rem;
    object-fit: cover;
    border: 2px solid rgb(147, 7, 207);
    border-radius: 50%;
}

.left-chat-user-info{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

}

.green {
    color: green;
}

.grey {
    color: grey;
}

.left-chat-user-name{
   
    font-size: 1.3rem;
    text-align: left;
}

.left-chat-user-nickname{
    font-style: italic
}

.left-chat-user-unread {
    font-size: 1rem;
    width: 20%;
     display: flex;
    align-items: center;
    justify-content: center;
}

.left-chat-user-unread-count{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    background-color: blueviolet;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.all-contacts-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.all-contacts-list {
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.3rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.all-contacts-list-user{
    /* border: 2px solid black; */
    width: 90%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: white;
    padding: 1rem;
     font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.all-contacts-user-img-div {
    width: 15%;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-contacts-list-user img {
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
     border: 2px solid rgb(147, 7, 207);
}

.all-contacts-list-user-name {
    width: 70%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.all-contacts-list-name {
    font-size: 1.4rem;
}

.all-contacts-list-click-chat {
    font-style: italic;
}

.all-contact-list-back {
    position: sticky;
    width: 99%;
    height: 5%;
    padding-left: 1rem;
}

.all-contact-list-back span {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.6rem;
     font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}